In [1]:
import pandas as pd
d=pd.read_csv("FINAL Dataset.csv")
d

,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.040000,29.1,40.5,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,NaN,1.88
1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.740000,26.1,37.6,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,NaN,2.49
2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.520000,27.3,38.3,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.70,2.72
3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.180000,27.6,37.4,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,13.95,3.15
4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.060000,NaN,NaN,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.83,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,1132,Warangal urban,2019 - 2020,rabi,Rice,15.042900,9.6,44.9,5.50,162.69,18.08,215.84,1.833,4.67,2.76,14.38,3.85,3.80
1132,1133,Yadadri,2016 - 2017,rabi,Rice,5.171429,28.3,41.8,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.41,3.84
1133,1134,Yadadri,2017 - 2018,rabi,Rice,11.285714,20.0,35.1,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.58,3.62
1134,1135,Yadadri,2018 - 2019,rabi,Rice,6.571429,NaN,NaN,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,13.64,3.53
1135,1136,Yadadri,2019 - 2020,rabi,Rice,11.271429,12.2,45.2,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.60,3.55

In [2]:
d.isnull().sum()

S.No                         0
District                     0
Year                         0
Season                       0
Crop                         0
Rainfall(mm)                 0
Minimum Temparature(C)     264
Maximum Temperature (C)    264
Ph                           0
N(Kg/Hectar)                 0
P(Kg/Hectar)                 0
K(Kg/Hectar)                 0
Zn(ppm)                      0
Fe(ppm)                      0
Cu(ppm)                      0
Mn(ppm)                      0
Irrigation(MBGL)           142
Yield (Bales/Hectare)       16
dtype: int64

In [3]:
d.columns

Index(['S.No', 'District', 'Year', 'Season', 'Crop', 'Rainfall(mm)',
       'Minimum Temparature(C)', 'Maximum Temperature (C)', 'Ph',
       'N(Kg/Hectar)', 'P(Kg/Hectar)', 'K(Kg/Hectar)', 'Zn(ppm)', 'Fe(ppm)',
       'Cu(ppm)', 'Mn(ppm)', 'Irrigation(MBGL)', 'Yield (Bales/Hectare)'],
      dtype='object')

In [4]:
d=d.dropna(subset=['Yield (Bales/Hectare)'],axis=0)

In [5]:
d.isnull().sum()

S.No                         0
District                     0
Year                         0
Season                       0
Crop                         0
Rainfall(mm)                 0
Minimum Temparature(C)     260
Maximum Temperature (C)    260
Ph                           0
N(Kg/Hectar)                 0
P(Kg/Hectar)                 0
K(Kg/Hectar)                 0
Zn(ppm)                      0
Fe(ppm)                      0
Cu(ppm)                      0
Mn(ppm)                      0
Irrigation(MBGL)           142
Yield (Bales/Hectare)        0
dtype: int64

In [6]:
d["Minimum Temparature(C)"]=d.groupby(by=["District","Season"])["Minimum Temparature(C)"].apply(lambda x: x.fillna(x.mean()))
d['Maximum Temperature (C)']=d.groupby(by=["District","Season"])['Maximum Temperature (C)'].apply(lambda x: x.fillna(x.mean()))
d["Irrigation(MBGL)"]=d.groupby(by=["District","Season"])["Irrigation(MBGL)"].apply(lambda x: x.fillna(x.mean()))

C:\Users\Chandu\AppData\Local\Temp\ipykernel_26424\200094216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["Minimum Temparature(C)"]=d.groupby(by=["District","Season"])["Minimum Temparature(C)"].apply(lambda x: x.fillna(x.mean()))
C:\Users\Chandu\AppData\Local\Temp\ipykernel_26424\200094216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Maximum Temperature (C)']=d.groupby(by=["District","Season"])['Maximum Temperature (C)'].apply(lambda x: x.fillna(x.mean()))
C:\Users\Chandu\AppData\Local\Temp\ipykernel_26424\200094216.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d["Irrigation(MBGL)"]=d.groupby(by=["District","Season"])["Irrigation(MBGL)"].apply(lambda x: x.fillna(x.mean()))

In [7]:
d.isnull().sum()

S.No                       0
District                   0
Year                       0
Season                     0
Crop                       0
Rainfall(mm)               0
Minimum Temparature(C)     0
Maximum Temperature (C)    0
Ph                         0
N(Kg/Hectar)               0
P(Kg/Hectar)               0
K(Kg/Hectar)               0
Zn(ppm)                    0
Fe(ppm)                    0
Cu(ppm)                    0
Mn(ppm)                    0
Irrigation(MBGL)           0
Yield (Bales/Hectare)      0
dtype: int64

In [8]:
d.head(5)

,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,1.88
1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,2.49
2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.700,2.72
3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.950,3.15
4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.830,2.55

In [9]:
d.to_excel("nan.xlsx")

In [10]:
import pandas as pd
d=pd.read_excel("nan.xlsx")
d

,Unnamed: 0,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.415,1.88
1,1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.415,2.49
2,2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.700,2.72
3,3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,13.950,3.15
4,4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.830,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1131,1132,Warangal urban,2019 - 2020,rabi,Rice,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,2.76,14.38,3.850,3.80
1116,1132,1133,Yadadri,2016 - 2017,rabi,Rice,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.410,3.84
1117,1133,1134,Yadadri,2017 - 2018,rabi,Rice,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.580,3.62
1118,1134,1135,Yadadri,2018 - 2019,rabi,Rice,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,13.640,3.53
1119,1135,1136,Yadadri,2019 - 2020,rabi,Rice,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.600,3.55

In [11]:
d=pd.get_dummies(d)

In [12]:
d

,Unnamed: 0,S.No,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),...,Year_2017 - 2018,Year_2018 - 2019,Year_2019 - 2020,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,1,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,...,0,0,0,1,0,0,0,0,0,1
1,1,2,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,...,0,0,0,1,0,0,0,0,0,1
2,2,3,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,...,0,0,0,1,0,0,0,0,0,1
3,3,4,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,...,1,0,0,1,0,0,0,0,0,1
4,4,5,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1131,1132,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,...,0,0,1,0,1,0,0,0,1,0
1116,1132,1133,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,...,0,0,0,0,1,0,0,0,1,0
1117,1133,1134,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,...,1,0,0,0,1,0,0,0,1,0
1118,1134,1135,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,...,0,1,0,0,1,0,0,0,1,0
1119,1135,1136,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,...,0,0,1,0,1,0,0,0,1,0

In [13]:
d.isnull().sum()

Unnamed: 0                         0
S.No                               0
Rainfall(mm)                       0
Minimum Temparature(C)             0
Maximum Temperature (C)            0
Ph                                 0
N(Kg/Hectar)                       0
P(Kg/Hectar)                       0
K(Kg/Hectar)                       0
Zn(ppm)                            0
Fe(ppm)                            0
Cu(ppm)                            0
Mn(ppm)                            0
Irrigation(MBGL)                   0
Yield (Bales/Hectare)              0
District_Adilabad                  0
District_Bhadradri                 0
District_Jagitial                  0
District_Jangoan                   0
District_Jayashankar               0
District_Jogulamba                 0
District_Kamareddy                 0
District_Karimnagar                0
District_Khammam                   0
District_Komaram bheem asifabad    0
District_Mahabubabad               0
District_Mahbubnagar               0
District_Mancherial                0
District_Medak                     0
District_Medchal                   0
District_Mulugu                    0
District_Nagarkurnool              0
District_Nalgonda                  0
District_Narayanapet               0
District_Nirmal                    0
District_Nizamabad                 0
District_Peddapalli                0
District_Rajanna                   0
District_Rangareddy                0
District_Sangareddy                0
District_Siddipet                  0
District_Suryapet                  0
District_Vikarabad                 0
District_Wanaparthy                0
District_Warangal                  0
District_Warangal urban            0
District_Yadadri                   0
Year_2014 - 2015                   0
Year_2015 - 2016                   0
Year_2016 - 2017                   0
Year_2017 - 2018                   0
Year_2018 - 2019                   0
Year_2019 - 2020                   0
Season_Kharif                      0
Season_rabi                        0
Crop_Groundnut                     0
Crop_Maize                         0
Crop_Moong(Green Gram)             0
Crop_Rice                          0
Crop_cotton(lint)                  0
dtype: int64

In [14]:
d.to_excel("FINAL.xlsx")

In [15]:
import pandas as pd
d=pd.read_excel("FINAL.xlsx")
d

,Unnamed: 0.1,Unnamed: 0,S.No,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),...,Year_2017 - 2018,Year_2018 - 2019,Year_2019 - 2020,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,0,1,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
1,1,1,2,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
2,2,2,3,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
3,3,3,4,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,...,1,0,0,1,0,0,0,0,0,1
4,4,4,5,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1115,1131,1132,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,...,0,0,1,0,1,0,0,0,1,0
1116,1116,1132,1133,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,...,0,0,0,0,1,0,0,0,1,0
1117,1117,1133,1134,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,...,1,0,0,0,1,0,0,0,1,0
1118,1118,1134,1135,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,...,0,1,0,0,1,0,0,0,1,0
1119,1119,1135,1136,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,...,0,0,1,0,1,0,0,0,1,0

In [16]:
d.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'S.No', 'Rainfall(mm)',
       'Minimum Temparature(C)', 'Maximum Temperature (C)', 'Ph',
       'N(Kg/Hectar)', 'P(Kg/Hectar)', 'K(Kg/Hectar)', 'Zn(ppm)', 'Fe(ppm)',
       'Cu(ppm)', 'Mn(ppm)', 'Irrigation(MBGL)', 'Yield (Bales/Hectare)',
       'District_Adilabad', 'District_Bhadradri', 'District_Jagitial',
       'District_Jangoan', 'District_Jayashankar', 'District_Jogulamba',
       'District_Kamareddy', 'District_Karimnagar', 'District_Khammam',
       'District_Komaram bheem asifabad', 'District_Mahabubabad',
       'District_Mahbubnagar', 'District_Mancherial', 'District_Medak',
       'District_Medchal', 'District_Mulugu', 'District_Nagarkurnool',
       'District_Nalgonda', 'District_Narayanapet', 'District_Nirmal',
       'District_Nizamabad', 'District_Peddapalli', 'District_Rajanna',
       'District_Rangareddy', 'District_Sangareddy', 'District_Siddipet',
       'District_Suryapet', 'District_Vikarabad', 'District_Wanaparthy',
       'District_Warangal', 'District_Warangal urban', 'District_Yadadri',
       'Year_2014 - 2015', 'Year_2015 - 2016', 'Year_2016 - 2017',
       'Year_2017 - 2018', 'Year_2018 - 2019', 'Year_2019 - 2020',
       'Season_Kharif', 'Season_rabi', 'Crop_Groundnut', 'Crop_Maize',
       'Crop_Moong(Green Gram)', 'Crop_Rice', 'Crop_cotton(lint)'],
      dtype='object')

In [29]:
d=d.drop(['Unnamed: 0', 'S.No','Year_2014 - 2015', 'Year_2015 - 2016', 'Year_2016 - 2017','Year_2017 - 2018', 'Year_2018 - 2019', 'Year_2019 - 2020',],axis=1)

KeyError: "['Unnamed: 0', 'S.No', 'Year_2014 - 2015', 'Year_2015 - 2016', 'Year_2016 - 2017', 'Year_2017 - 2018', 'Year_2018 - 2019', 'Year_2019 - 2020'] not found in axis"

In [18]:
d.columns

Index(['Unnamed: 0.1', 'Rainfall(mm)', 'Minimum Temparature(C)',
       'Maximum Temperature (C)', 'Ph', 'N(Kg/Hectar)', 'P(Kg/Hectar)',
       'K(Kg/Hectar)', 'Zn(ppm)', 'Fe(ppm)', 'Cu(ppm)', 'Mn(ppm)',
       'Irrigation(MBGL)', 'Yield (Bales/Hectare)', 'District_Adilabad',
       'District_Bhadradri', 'District_Jagitial', 'District_Jangoan',
       'District_Jayashankar', 'District_Jogulamba', 'District_Kamareddy',
       'District_Karimnagar', 'District_Khammam',
       'District_Komaram bheem asifabad', 'District_Mahabubabad',
       'District_Mahbubnagar', 'District_Mancherial', 'District_Medak',
       'District_Medchal', 'District_Mulugu', 'District_Nagarkurnool',
       'District_Nalgonda', 'District_Narayanapet', 'District_Nirmal',
       'District_Nizamabad', 'District_Peddapalli', 'District_Rajanna',
       'District_Rangareddy', 'District_Sangareddy', 'District_Siddipet',
       'District_Suryapet', 'District_Vikarabad', 'District_Wanaparthy',
       'District_Warangal', 'District_Warangal urban', 'District_Yadadri',
       'Season_Kharif', 'Season_rabi', 'Crop_Groundnut', 'Crop_Maize',
       'Crop_Moong(Green Gram)', 'Crop_Rice', 'Crop_cotton(lint)'],
      dtype='object')

In [19]:
d

,Unnamed: 0.1,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),...,District_Warangal,District_Warangal urban,District_Yadadri,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
1,1,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
2,2,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
3,3,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
4,4,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1115,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,...,0,1,0,0,1,0,0,0,1,0
1116,1116,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,1,0,1,0,0,0,1,0
1117,1117,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,1,0,1,0,0,0,1,0
1118,1118,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,1,0,1,0,0,0,1,0
1119,1119,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,1,0,1,0,0,0,1,0

In [20]:
d.isnull().sum()

Unnamed: 0.1                       0
Rainfall(mm)                       0
Minimum Temparature(C)             0
Maximum Temperature (C)            0
Ph                                 0
N(Kg/Hectar)                       0
P(Kg/Hectar)                       0
K(Kg/Hectar)                       0
Zn(ppm)                            0
Fe(ppm)                            0
Cu(ppm)                            0
Mn(ppm)                            0
Irrigation(MBGL)                   0
Yield (Bales/Hectare)              0
District_Adilabad                  0
District_Bhadradri                 0
District_Jagitial                  0
District_Jangoan                   0
District_Jayashankar               0
District_Jogulamba                 0
District_Kamareddy                 0
District_Karimnagar                0
District_Khammam                   0
District_Komaram bheem asifabad    0
District_Mahabubabad               0
District_Mahbubnagar               0
District_Mancherial                0
District_Medak                     0
District_Medchal                   0
District_Mulugu                    0
District_Nagarkurnool              0
District_Nalgonda                  0
District_Narayanapet               0
District_Nirmal                    0
District_Nizamabad                 0
District_Peddapalli                0
District_Rajanna                   0
District_Rangareddy                0
District_Sangareddy                0
District_Siddipet                  0
District_Suryapet                  0
District_Vikarabad                 0
District_Wanaparthy                0
District_Warangal                  0
District_Warangal urban            0
District_Yadadri                   0
Season_Kharif                      0
Season_rabi                        0
Crop_Groundnut                     0
Crop_Maize                         0
Crop_Moong(Green Gram)             0
Crop_Rice                          0
Crop_cotton(lint)                  0
dtype: int64

In [21]:
y=d['Yield (Bales/Hectare)'].values
y

array([1.88, 2.49, 2.72, ..., 3.62, 3.53, 3.55])

In [22]:
x=d.drop('Yield (Bales/Hectare)',axis=1).values
x

array([[0.00000000e+00, 1.56040000e+02, 2.91000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.65740000e+02, 2.61000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [2.00000000e+00, 2.40520000e+02, 2.73000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       ...,
       [1.11700000e+03, 1.12857143e+01, 2.00000000e+01, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [1.11800000e+03, 6.57142857e+00, 2.01666667e+01, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [1.11900000e+03, 1.12714286e+01, 1.22000000e+01, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [23]:
d.isnull().sum()

Unnamed: 0.1                       0
Rainfall(mm)                       0
Minimum Temparature(C)             0
Maximum Temperature (C)            0
Ph                                 0
N(Kg/Hectar)                       0
P(Kg/Hectar)                       0
K(Kg/Hectar)                       0
Zn(ppm)                            0
Fe(ppm)                            0
Cu(ppm)                            0
Mn(ppm)                            0
Irrigation(MBGL)                   0
Yield (Bales/Hectare)              0
District_Adilabad                  0
District_Bhadradri                 0
District_Jagitial                  0
District_Jangoan                   0
District_Jayashankar               0
District_Jogulamba                 0
District_Kamareddy                 0
District_Karimnagar                0
District_Khammam                   0
District_Komaram bheem asifabad    0
District_Mahabubabad               0
District_Mahbubnagar               0
District_Mancherial                0
District_Medak                     0
District_Medchal                   0
District_Mulugu                    0
District_Nagarkurnool              0
District_Nalgonda                  0
District_Narayanapet               0
District_Nirmal                    0
District_Nizamabad                 0
District_Peddapalli                0
District_Rajanna                   0
District_Rangareddy                0
District_Sangareddy                0
District_Siddipet                  0
District_Suryapet                  0
District_Vikarabad                 0
District_Wanaparthy                0
District_Warangal                  0
District_Warangal urban            0
District_Yadadri                   0
Season_Kharif                      0
Season_rabi                        0
Crop_Groundnut                     0
Crop_Maize                         0
Crop_Moong(Green Gram)             0
Crop_Rice                          0
Crop_cotton(lint)                  0
dtype: int64

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=20)
rf=RandomForestRegressor()
rf.fit(x_train,y_train)
from sklearn.metrics import mean_squared_error, r2_score
y_pred=rf.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.8932769945087199
mean_sq_err 0.3836895910699405

In [26]:
from sklearn.ensemble import BaggingRegressor
bg=BaggingRegressor()
bg.fit(x_train,y_train)
y_pred=bg.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.877829519812813
mean_sq_err 0.43922621339285717

In [27]:
import pickle as p
p.dump(rf,open("model.pkl","wb"))